{% extends 'AnnoncesBundle::layout.html.twig' %}

{% block body %}
    <div class="panel panel-default col-lg-3">
        <div class="list-group">
            <li class="list-group-item"><a href="{{ path('users_profile') }}">Mon profil</a></li>
            <li class="list-group-item"><a href="{{ path('users_adverts') }}">Mes annonces</a></li>
        </div>
    </div>

{% endblock %}