<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href=""/>
		<title>Home - Site d'annonces</title>
	</head>
	<body>
		<h1>Bienvenue sur ce nouveau site d'annonces !</h1>
	</body>
</html>